html,
body {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    background: #201f1a;
    /*overflow: hidden;*/
    margin: 0;
}

h1 {
    color: #201f1a;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.5em;
}
.wrapper {
    position: relative;
    background: gainsboro;
}

canvas {
    position: relative;
    z-index: 9;
    cursor: pointer;
}


svg {
    width: 700px;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


/*subtle effect*/
.subtle-effect{
    position: absolute;
    margin: 0 auto;
    border-radius: 100%;
    background: #FF5F5F;
    z-index: 9999;
    animation: blob 0.25s ease-out forwards;
}

@keyframes blob {
    0%{
	}
    99%{
    	margin: -12.5px 0 0 -12.5px;
    	width: 25px;
    	height: 25px;
    	border-radius: 50%;
    	opacity: 0;
    }

    100% {
        width: 0;
    	height: 0;
    }
}